ComputerGraphics TermProject/Debug/
ComputerGraphics TermProject/ComputerGraphics TermProjcet/Debug/
ComputerGraphics TermProject/ComputerGraphics TermProjcet/*.vcxproj
ComputerGraphics TermProject/ComputerGraphics TermProjcet/*.vcxproj.filters
ComputerGraphics TermProject/ComputerGraphics TermProjcet/*.vcxproj.user
ComputerGraphics TermProjcet/**/*.obj