ComputerGraphics TermProject/Debug/*.*
ComputerGraphics TermProject/ComputerGraphics TermProjcet/Debug/
ComputerGraphics TermProject/.vs/*.*

*.vcxproj
*.filters
*.user
*.obj
*.tlog

#ComputerGraphics TermProjct/**/.vcxproj
#ComputerGraphics TermProjct/**/.filters
#ComputerGraphics TermProjct/**/.user
#ComputerGraphics TermProject/**/*.obj